Python is a dynamically typed, interpreted programming language

In [1]:
print("Hello, World")

Hello, World

Variable declaration and defintion. Built-in basic types in python(int, float, str, bool, bytes, bytearray, memory view)

In [2]:
a = 1

to know the type of a variable

In [3]:
type(a)

int

In [4]:
f = 1.232

In [5]:
type(f)

float

There is no char type in python. Only string(str) type

In [6]:
s = "Hello, World"

In [7]:
type(s)

str

In [8]:
b = True

In [9]:
type(b)

bool

bytes(immutable collection of bytes)

In [10]:
bt = b"Hello, World"

In [11]:
type(bt)

bytes

To decode the above bytes type to a string

In [12]:
s = bt.decode()
print(s)
print(type(s))

Hello, World
<class 'str'>

To encode a string to bytes type

In [13]:
bt = s.encode("utf-8")

In [14]:
print(bt)
print(type(bt))

b'Hello, World'
<class 'bytes'>

bytearray = like bytes but mutable

In [15]:
bt_ar = bytearray("Hello, World", "utf-8")

In [17]:
print(bt_ar)
print(type(bt_ar))

bytearray(b'Hello, World')
<class 'bytearray'>

In [18]:
bt_ar[0] += 1

In [19]:
bt_ar

bytearray(b'Iello, World')

To decode a byte array to a string

In [20]:
s = bt_ar.decode()
print(s)
print(type(s))

Iello, World
<class 'str'>

Arithmetic Operators ( +, -, *, / )

In [21]:
num = 1
num1 = 2

In [22]:
num + num1

3

In [23]:
num - num1

-1

In [24]:
num * num1

2

In [25]:
num / num1

0.5

Arithmetic Operators can be applied on a int and a float

In [30]:
f_num = 1.123

In [31]:
f_num + num

2.123

In [32]:
f_num - num

0.123

In [33]:
f_num * num

1.123

In [34]:
f_num / num

1.123

Exponentiation Operator

In [35]:
num = 2
num1 = 3

In [36]:
num ** num1

8

Just like arithmetic operator exponentiation operator can be applied to a int and a float

In [37]:
num ** f_num

2.1779940306722128

In [38]:
f_num ** num

1.261129

Compaison Operators ( == , > , < , >=, <= )

In [41]:
print(f"num = {num} ; num1 = {num1}")

num = 2 ; num1 = 3

In [42]:
num > num1

False

In [43]:
num < num1

True

Equality Operator

In [44]:
num == num1

False

Not Equal Operator

In [45]:
num != num1

True

In [46]:
num >= num1

False

In [47]:
num <= num1

True

Logical Operators

In [48]:
True and False

False

In [49]:
True or False

True

In [50]:
not True

False

Bitwise Operators ( &, | , ~)

And

In [52]:
1 & 2

0

Or

In [53]:
1 | 2

3

Not

In [55]:
~2

-3

XOR

In [56]:
2 ^ 3

1

Left Shift ( has the effect of multiplication by 2)

In [59]:
(1 << 1)

2

In [61]:
1 << 2

4

Right Shift ( has the effect of division by 2 )

In [60]:
(2 >> 1)

1

In [62]:
4 >> 2

1

If - Elif - Else Blocks

In [63]:
num = 2

In [65]:
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [66]:
if num % 3 == 0:
    print("multiple of 3")
elif num % 5 == 0:
    print("multiple of 5")
elif num % 7 == 0:
    print("mulitple of 7")
elif num % 2 == 0:
    print("mulitple of 2")
else:
    print("not a mutiple of 2, 3, 5, 7")

mulitple of 2

For Loops

In [67]:
for i in range(5): # from 0 to 4
    print(i)

0
1
2
3
4

While Loops

In [68]:
i = 0
while(i < 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

Function Defintion In Python

In [69]:
def is_even(num : int) -> bool:
    return num % 2 == 0

Function Application

In [70]:
is_even(2)

True

In [71]:
is_even(3)

False

In [72]:
def even_or_odd(num : int) -> str:
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [73]:
even_or_odd(2)

'even'

In [74]:
even_or_odd(3)

'odd'