Python is a dynamically typed, interpreted programming language

In [404]:
print("Hello, World")

Hello, World

In [405]:
# comment in Python

Variable declaration and defintion. Built-in basic types in python(int, float, str, bool, bytes, bytearray, memory view)

In [406]:
a = 1

to know the type of a variable

In [407]:
type(a)

int

In [408]:
f = 1.232

In [409]:
type(f)

float

There is no char type in python. Only string(str) type

In [410]:
s = "Hello, World"

In [411]:
type(s)

str

In [412]:
b = True

In [413]:
type(b)

bool

bytes(immutable collection of bytes)

In [414]:
bt = b"Hello, World"

In [415]:
type(bt)

bytes

To decode the above bytes type to a string

In [416]:
s = bt.decode()
print(s)
print(type(s))

Hello, World
<class 'str'>

To encode a string to bytes type

In [417]:
bt = s.encode("utf-8")

In [418]:
print(bt)
print(type(bt))

b'Hello, World'
<class 'bytes'>

bytearray = like bytes but mutable

In [419]:
bt_ar = bytearray("Hello, World", "utf-8")

In [420]:
print(bt_ar)
print(type(bt_ar))

bytearray(b'Hello, World')
<class 'bytearray'>

In [421]:
bt_ar[0] += 1

In [422]:
bt_ar

bytearray(b'Iello, World')

To decode a byte array to a string

In [423]:
s = bt_ar.decode()
print(s)
print(type(s))

Iello, World
<class 'str'>

memory view

Arithmetic Operators ( +, -, *, / )

In [424]:
num = 1
num1 = 2

In [425]:
num + num1

3

In [426]:
num - num1

-1

In [427]:
num * num1

2

In [428]:
num / num1

0.5

Arithmetic Operators can be applied on a int and a float

In [429]:
f_num = 1.123

In [430]:
f_num + num

2.123

In [431]:
f_num - num

0.123

In [432]:
f_num * num

1.123

In [433]:
f_num / num

1.123

Exponentiation Operator

In [434]:
num = 2
num1 = 3

In [435]:
num ** num1

8

Just like arithmetic operator exponentiation operator can be applied to a int and a float

In [436]:
num ** f_num

2.1779940306722128

In [437]:
f_num ** num

1.261129

Compaison Operators ( == , > , < , >=, <= )

In [438]:
print(f"num = {num} ; num1 = {num1}")

num = 2 ; num1 = 3

In [439]:
num > num1

False

In [440]:
num < num1

True

Equality Operator

In [441]:
num == num1

False

Not Equal Operator

In [442]:
num != num1

True

In [443]:
num >= num1

False

In [444]:
num <= num1

True

Logical Operators

In [445]:
True and False

False

In [446]:
True or False

True

In [447]:
not True

False

Bitwise Operators ( &, | , ~)

And

In [448]:
1 & 2

0

Or

In [449]:
1 | 2

3

Not

In [450]:
~2

-3

XOR

In [451]:
2 ^ 3

1

Left Shift ( has the effect of multiplication by 2)

In [452]:
(1 << 1)

2

In [453]:
1 << 2

4

Right Shift ( has the effect of division by 2 )

In [454]:
(2 >> 1)

1

In [455]:
4 >> 2

1

If - Elif - Else Blocks

In [456]:
num = 2

In [457]:
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [458]:
if num % 3 == 0:
    print("multiple of 3")
elif num % 5 == 0:
    print("multiple of 5")
elif num % 7 == 0:
    print("mulitple of 7")
elif num % 2 == 0:
    print("mulitple of 2")
else:
    print("not a mutiple of 2, 3, 5, 7")

mulitple of 2

For Loops

In [459]:
for i in range(5): # from 0 to 4
    print(i)

0
1
2
3
4

While Loops

In [460]:
i = 0
while(i < 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

Function Defintion In Python

In [461]:
def is_even(num : int) -> bool:
    return num % 2 == 0

Function Application

In [462]:
is_even(2)

True

In [463]:
is_even(3)

False

In [464]:
def even_or_odd(num : int) -> str:
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [465]:
even_or_odd(2)

'even'

In [466]:
even_or_odd(3)

'odd'

In [467]:
def newton_sqrt(num : int) -> float:
    x, n, i = float(num), float(num), 0
    while (x * x - n > 0) and i < 1000:
        x = (x + (n / x)) / 2
        i += 1
    return x

In [468]:
newton_sqrt(2)

1.414213562373095

In [469]:
newton_sqrt(3)

1.7320508075688772

In [470]:
newton_sqrt(5)

2.23606797749979

In [471]:
newton_sqrt(4)

2.0

In [472]:
def gcd(a, b):
    while b != 0:
        a , b = b , a % b
    return a

In [473]:
gcd(10, 12)

2

In [474]:
gcd(24, 12)

12

In [475]:
def lcm(a, b):
    return (a * b) / gcd(a, b)

In [476]:
lcm(10, 20)

20.0

In [477]:
lcm(2, 4)

4.0

In [478]:
def sieve_of_eratosthenes(max_num):
    bool_lst = [True] * max_num
    bool_lst[0], bool_lst[1] = False, False
    for i in range(max_num):
        if bool_lst[i] == True:
            j = 2 * i
            while j < max_num:
                bool_lst[j] = False 
                j += i

    primes = []
    for i in range(max_num):
        if bool_lst[i] == True:
            primes.append(i)

    return primes

In [479]:
print(sieve_of_eratosthenes(1000))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

Built-In compound types in Python(list, set, tuple, dictionary, string)

a list is a mutable collection of heterogeneous data

In [480]:
lst = [1, "A", 1.213, True]

In [481]:
type(lst)

list

To create a empty list

In [482]:
empty_lst = list()

In [483]:
empty_lst = []

To access individual elements in a list ( everything in python is 0-indexed )

In [484]:
lst[0]

1

In [485]:
lst[1]

'A'

python also allows negitive indexing where -1 is the last element of the list

In [486]:
lst[-1]

True

list slicing lst[start:stop:step]

In [487]:
lst[:] # to get all of the list

[1, 'A', 1.213, True]

In [488]:
lst[:2] # from start till the second element (2nd element is not included)

[1, 'A']

In [489]:
lst[2:] # from the second element till the end

[1.213, True]

In [490]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [491]:
lst[::2] # take every second element

[1, 3, 5, 7, 9]

In [492]:
lst[1:5:2] # take every second element from the 1st index up unitl the 5th index ( 5th is not included )

[2, 4]

In [493]:
lst[::-1] # a trick to reverse the list (this operation is not in-place)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [494]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

To get the length of the list

In [495]:
len(lst)

9

to delete a element at a particular index

In [496]:
del lst[0]

In [497]:
lst

[2, 3, 4, 5, 6, 7, 8, 9]

In [498]:
lst = [1, 2, 3, 1, 2, 3, 1, 2, 3]

to delete the first occurence of a element

In [499]:
lst.remove(2)

In [500]:
lst

[1, 3, 1, 2, 3, 1, 2, 3]

To sort the list

In [501]:
sorted(lst) # not in place

[1, 1, 1, 2, 2, 3, 3, 3]

In [502]:
lst

[1, 3, 1, 2, 3, 1, 2, 3]

In [503]:
lst.sort() # inplace

In [504]:
lst

[1, 1, 1, 2, 2, 3, 3, 3]

To count the number of times a element occurs in a list

In [505]:
lst.count(2)

2

To get the index of the first occurence of a element in the list if it exists

In [506]:
lst.index(3)

5

In [507]:
#lst.index(5) # if the element does not exist in the list a ValueError exception is thrown

lists can be iterated over using for loops

In [508]:
for i in lst:
    print(i)

1
1
1
2
2
3
3
3

lists can also be mutated when they are being iterated over

In [509]:
for i in lst:
    i += 1

In [510]:
lst

[1, 1, 1, 2, 2, 3, 3, 3]

to iterate over the element of the list with their indices

In [511]:
for index, element in enumerate(lst):
    print(index, element)

0 1
1 1
2 1
3 2
4 2
5 3
6 3
7 3

To iterate over list using the length of the list

In [512]:
for i in range(len(lst)):
    print(lst[i])

1
1
1
2
2
3
3
3

In [513]:
i = 0
while i < len(lst):
    print(lst[i])
    i += 1

1
1
1
2
2
3
3
3

tuple = like lists but immutable

In [514]:
tup = (1, 'A', True, 1.231)

In [515]:
type(tup)

tuple

to create empty tuples

In [516]:
empty_tup = tuple()

In [517]:
empty_tup = ()

In [518]:
type(empty_tup)

tuple

indexing also works just like lists

In [519]:
tup[0]

1

slicing works just like lists

In [520]:
tup[:2]

(1, 'A')

In [521]:
tup[1:]

('A', True, 1.231)

In [522]:
tup[::2]

(1, True)

In [523]:
tup[::-1] # slicing always creates a list / tuple ???

(1.231, True, 'A', 1)

Most of the list methods are available for tuples also

In [524]:
tup.count(1)

2

In [525]:
tup.index(1)

0

In [526]:
len(tup)

4

tuples are immutable so methods like del and remove are not available

Set = a collection of unique heterogeneous data. Sets are mutable

In [527]:
st = {1, "A", True, 2.13}

In [528]:
type(st)

set

To create a empty set

In [529]:
empty_set = set()

Indexing doesn't works on sets

To add a element to a set

In [530]:
st.add(2)

In [531]:
st

{1, 2, 2.13, 'A'}

set data structure makes sure that the count of each element is always 1. So even if you try to add duplicates nothing happens

In [532]:
print(st)
st.add(1)
print(st)

{1, 2.13, 2, 'A'}
{1, 2.13, 2, 'A'}

To remove a element from a set

In [533]:
st.remove(2)

In [534]:
st

{1, 2.13, 'A'}

A list can be used to create a set

In [535]:
st = set([1, 2, 2, 3, 3, 3]) # set automatically removes the duplicates

In [536]:
st

{1, 2, 3}

In [537]:
len(st) # to get the length of the set

3

Set operations (union, intersection, difference, symetric difference)

In [538]:
st = {1,2,3}
st1 = {2,4,6}

In [539]:
st.union(st1)

{1, 2, 3, 4, 6}

In [540]:
st.intersection(st1)

{2}

In [541]:
st.difference(st1)

{1, 3}

In [542]:
st.symmetric_difference(st1)

{1, 3, 4, 6}

In [543]:
st.isdisjoint(st1)

False

In [544]:
st.issubset(st1)

False

In [545]:
st.issuperset(st1)

False

Dictionary = key - value pairs. HashMap

In [546]:
dct = {"A" : 1, "B" : 2, "C" : 3}

In [547]:
type(dct)

dict

Accessing values using keys

In [548]:
dct["A"]

1

To get all the keys

In [549]:
dct.keys()

dict_keys(['A', 'B', 'C'])

To get all the values

In [550]:
dct.values()

dict_values([1, 2, 3])

To get both keys and values

In [551]:
dct.items()

dict_items([('A', 1), ('B', 2), ('C', 3)])

To get the number of key value pairs in the dictionary

In [552]:
len(dct)

3

To get a value of key if its present and if the key is not present in the list then another value is returned

In [553]:
dct.get("D", 0)

0

### OOP = Object Oriented Programming

class = blueprint of the object. bascially tells what the object should look like

object = a instance of a class.

4 main pillars of OOPS

(1) Encapsulation = encapsulating the data and methods of a object into a single unit

In [554]:
class Person:
    def __init__(self, first_name, last_name, age, gender):
        # __init__() is the constructor 
        # this function is called whenever a object of the class is created
        self.first_name = first_name 
        self.last_name = last_name
        self.age = age 
        self.gender = gender

    # a custom string representation of this object 
    # the below function is called when the object is printed 
    def __str__(self):
        return f"Person[name = {self.full_name()} ; age = {self.age} ; gender = {self.gender}]"

    def __repr__(self):
        return f"Person(name = {self.full_name()} ; age = {self.age} ; gender = {self.gender})"

    def full_name(self):
        return f"{self.first_name} {self.last_name}"

In [555]:
p1 = Person("a" , "b", 24, "M")

In [556]:
p1.full_name()

'a b'

properties of the object can accessed, modified and deleted

In [557]:
p1.first_name

'a'

In [558]:
p1.last_name = "c"

In [559]:
p1 # here the __str__ is not called but __repr__ is called

Person(name = a c ; age = 24 ; gender = M)

In [560]:
print(p1) # here __str__ method of p1 is called

Person[name = a c ; age = 24 ; gender = M]

In [561]:
del p1.last_name

In [562]:
# p1 # a error is thrown

In [563]:
#print(p1) # a error is thrown as the object is deleted

Objects can be deleted using the del keyword

In [564]:
del p1

(2) Inheritance = A child class can inherit the methods, attributes of the parent class

In [565]:
from typing import override

class Student(Person):
    def __init__(self, first_name, last_name, age, gender, grade, school_name):
        super().__init__(first_name, last_name, age, gender)
        self.grade = grade
        self.school_name = school_name 

    # method oveloading (runtime polymorphism)
    def __repr__(self):
        return f"Student(name = {self.full_name()} ; age = {self.age} ; gender = {self.gender} ; grade = {self.grade} ; school = {self.school_name })"

    @override # a type annotation that is used to annotate the fact that the below method is supposed to override a method...
    #...with the same name in the parent class
    def __str__(self):
        return f"Student[name = {self.full_name()} ; age = {self.age} ; gender = {self.gender} ; grade = {self.grade} ; school = {self.school_name }]"

Python does not have compile time polymorphism ???

In [566]:
s1 = Student("a", "b", 17, "M", "12" ,"xyz")

In [567]:
s1

Student(name = a b ; age = 17 ; gender = M ; grade = 12 ; school = xyz)

In [568]:
type(s1)

__main__.Student

to check if the a object is instance of some class

In [569]:
isinstance(s1, Student)

True

In [570]:
isinstance(s1, Person) # this will be true as Student inherits from Person

True

Any function which takes in a Person object you can pass in a student object there and this property is called as "Polymorphism"

In [571]:
def print_person_details(p : Person):
    print(p)

In [572]:
p1 = Person("a" , "b", 24, "M")
print_person_details(p1)

Person[name = a b ; age = 24 ; gender = M]

In [573]:
print_person_details(s1)

Student[name = a b ; age = 17 ; gender = M ; grade = 12 ; school = xyz]

abstraction = hiding complex implementation details

In [574]:
from abc import abstractmethod

class Shape:
    def __init__(self, name):
        self.name = name 

    @abstractmethod
    def area(self):
        NotImplemented

    @abstractmethod
    def perimeter(self):
        NotImplemented


class Rectangle(Shape):
    def __init__(self, name, length, breadth):
        super().__init__(name)
        self.length = length 
        self.breadth = breadth 

    def area(self):
        return self.length * self.breadth 

    def perimeter(self):
        return 2 * (self.length + self.breadth)

class Square(Shape):
    def __init__(self, name, side_length):
        super().__init__(name)
        self.side_length = side_length

    def area(self):
        return self.side_length ** 2 

    def perimeter(self):
        return 4 * self.side_length

In [575]:
s = Shape("empty")
r = Rectangle("rectangle", 3.5, 4.5)
sq = Square("square", 2.7)

In [576]:
def print_shape(s : Shape):
    print(f"name = {s.name} ; area = {s.area()} ; perimeter = {s.perimeter()}")

In [577]:
print_shape(s)

name = empty ; area = None ; perimeter = None

In [578]:
print_shape(r)

name = rectangle ; area = 15.75 ; perimeter = 16.0

In [579]:
print_shape(sq)

name = square ; area = 7.290000000000001 ; perimeter = 10.8

Access modifiers in Python classes

all attributes are public by default

any attribute name that starts with a _ is considered protected (this is not enforced by python) this is just a notation

any attribute that starts with __ is considered private (this is enforced by python using name mangling)

In [580]:
class BankAccount:
    def __init__(self, name, age, gender, phone_number, balance, pin):
        self.name = name 
        self.age = age 
        self.gender = gender
        self._balance = balance
        self.__phone_number = phone_number 
        self.__pin = pin

In [581]:
bka = BankAccount("a", 19, "M", "17364876", 12314, 123)

In [582]:
bka.name

'a'

In [583]:
bka._balance

12314

In [584]:
# bka.__pin # cannot access this __pin is made private by name mangling

In [585]:
bka._BankAccount__pin # a way to get around the name mangling

123

Python has operator overloading

In [586]:
class vector:
    def __init__(self, x, y, z):
        self.x = x 
        self.y = y 
        self.z = z 

    def __repr__(self):
        return f"vector[{self.x}, {self.y}, {self.z}]"

    def __str__(self):
        return f"vector({self.x}, {self.y}, {self.z})"

    def __add__(self, other):
        return vector(self.x + other.x, self.y + other.y, self.z + other.z)

    def __sub__(self, other):
        return vector(self.x - other.x , self.y - other.y, self.z - other.z)

    def __mul__(self, other):
        return vector(self.x * other.x, self.y * other.y, self.z * other.z)

    def __truediv__(self, other):
        return vector(self.x / other.x, self.y / other.y, self.z / other.z)

    def __floordiv__(self, other):
        return vector(self.x // other.x , self.y // other.y, self.z // other.z)

In [587]:
v1 = vector(1, 2, 3)
v2 = vector(2, 4, 6)

In [588]:
v1 + v2

vector[3, 6, 9]

In [589]:
v1 - v2

vector[-1, -2, -3]

In [590]:
v1 * v2

vector[2, 8, 18]

In [591]:
v1 / v2

vector[0.5, 0.5, 0.5]

In [592]:
v1 // v2

vector[0, 0, 0]

getter and setters with @property , @attribute.setter

In [13]:
class Fruit:
    def __init__(self, name):
        self.__name = name 

    def __repr__(self):
        return f"fruit name = {self.__name}"

    def __str__(self):
        return f"fruit name = {self.__name}"

    @property
    def fruit_name(self):
        print("fruit name was accessed")
        return self.__name 
    
    @fruit_name.setter 
    def fruit_name(self, new_name):
        print(f"fruit name is updated from {self.__name} to {new_name}")
        self.__name = new_name

    @fruit_name.deleter 
    def fruit_name(self):
        print(f"fruit name deleted")
        self.__name = None

In [14]:
f = Fruit("banana")

thanks to the property decorator the fruit_name function can be accessed as its a property

In [15]:
f.fruit_name

fruit name was accessed

'banana'

the function with @fruit_name.setter decorator is called when...

In [16]:
f.fruit_name = "apple"

fruit name is updated from banana to apple

In [17]:
f

fruit name = apple

the function with fruit_name.deleter decorator is called when...

In [18]:
del f.fruit_name

fruit name deleted

In [19]:
f

fruit name = None

@staticmethod, = nothing object or class related stuff is automatically passed in

In [593]:
class Math:
    @staticmethod
    def newton_sqrt(num : int) -> float:
        x = float(num)
        n = x 
        i = 0
        while (x*x - n > 0) and i < 100:
            x = (x + (n / x)) / 2
            i += 1
        return x 
    
    @staticmethod
    def sum(*args):
        res = 0
        for i in args:
            res += i 
        return res
    
    @staticmethod
    def mul(*args):
        res = 1 
        for i in args:
            res *= i 
        return res

In [594]:
Math.newton_sqrt(2)

1.414213562373095

In [595]:
Math.sum(1, 2, 3, 4, 5)

15

In [596]:
Math.mul(1, 2, 3, 4, 5)

120

@classmethod = class itself is passed by default, class variables = a variable that is part of the circle i.e. part of every object

In [597]:
class Circle:
    pi = 3.14 

    def __init__(self, radius):
        self.radius = radius 

    def area(self):
        return Circle.pi * self.radius * self.radius
    
    def perimeter(self):
        return 2 * Circle.pi * self.radius
    
    @classmethod
    def create_cirlce(cls, radius):
        return cls(radius)

In [598]:
c1 = Circle(3.0)

In [599]:
print(c1.area())
print(c1.perimeter())

28.259999999999998
18.84

In [600]:
c2 = Circle.create_cirlce(4.0)

In [601]:
print(c2.area())
print(c2.perimeter())

50.24
25.12

In [602]:
c1.__dict__

{'radius': 3.0}

If we change a class variable for one object it won't change the value of this class varibale for other objects

In [603]:
c1.pi = 3.141

In [604]:
c1.__dict__ # changing the class variable adds the class variable and its value to the object's dictionary

{'radius': 3.0, 'pi': 3.141}

In [605]:
c3 = Circle(radius=3.0)

In [606]:
c3.__dict__

{'radius': 3.0}

In [607]:
c3.pi

3.14

In [608]:
c3.__dict__

{'radius': 3.0}

List, set, dictionary comprehensions

In [609]:
lst = [i for i in range(10)]

In [610]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [611]:
type(lst)

list

In [612]:
lst = [i for i in range(10) if i % 2 == 0]

In [613]:
lst

[0, 2, 4, 6, 8]

In [614]:
st = {i for i in range(10)}

In [615]:
st

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [616]:
type(st)

set

In [617]:
st = {i for i in range(10) if i % 2 == 0}

In [618]:
st

{0, 2, 4, 6, 8}

In [619]:
dct = {i : i ** 2 for i in range(10)}

In [620]:
dct

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [621]:
type(dct)

dict

In [622]:
dct = {i : 2*i for i in range(10) if i % 2  != 0}

In [623]:
dct

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18}

Collections module (counter, heapq, priority_queue, default_dict, ordered_dict)

Counter

In [624]:
from collections import Counter

In [625]:
lst = []
for i in range(65, 65 + 26):
    lst += [chr(i)] * (i - 65 + 1)

In [626]:
print(lst)

['A', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D', 'D', 'E', 'E', 'E', 'E', 'E', 'F', 'F', 'F', 'F', 'F', 'F', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'H', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'P', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'Q', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'U', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z']

In [627]:
cntr = Counter(lst)

In [628]:
print(cntr)

Counter({'Z': 26, 'Y': 25, 'X': 24, 'W': 23, 'V': 22, 'U': 21, 'T': 20, 'S': 19, 'R': 18, 'Q': 17, 'P': 16, 'O': 15, 'N': 14, 'M': 13, 'L': 12, 'K': 11, 'J': 10, 'I': 9, 'H': 8, 'G': 7, 'F': 6, 'E': 5, 'D': 4, 'C': 3, 'B': 2, 'A': 1})

In [629]:
cntr.most_common(1) # most common element

[('Z', 26)]

In [630]:
cntr.most_common(2) # 2 most common elements

[('Z', 26), ('Y', 25)]

In [631]:
cntr.most_common(3) # 3 most common elements

[('Z', 26), ('Y', 25), ('X', 24)]

In [632]:
cntr.total() # to get the total number of items

351

default dict = if the key is not there in the dictionary default dict will return a default value

In [633]:
from collections import defaultdict

In [634]:
items: list[tuple[str, int]] = [("A", 1), ("B" , 2), ("C" , 3), ("A", 3), ("B" , 4), ("A" , 5)]

In [635]:
dct1: defaultdict[str, list] = defaultdict(list) # defaultdict with list as its default value

In [636]:
for k, v in items:
    dct1[k].append(v)

In [637]:
dct1

defaultdict(list, {'A': [1, 3, 5], 'B': [2, 4], 'C': [3]})

To convert a defaultdict to a dict. Just cast it

In [638]:
dict(dct1)

{'A': [1, 3, 5], 'B': [2, 4], 'C': [3]}

In [639]:
dct1["D"]

[]

In [640]:
dct : defaultdict[str, int] = defaultdict(int) # a integer is the default value here

In [641]:
for k, v in items:
    dct[k] += v

In [642]:
dct

defaultdict(int, {'A': 9, 'B': 6, 'C': 3})

In [643]:
dct["D"]

0

In [644]:
dct

defaultdict(int, {'A': 9, 'B': 6, 'C': 3, 'D': 0})

In [645]:
dict(dct)

{'A': 9, 'B': 6, 'C': 3, 'D': 0}

To give some custom default value rather than the default value of some type. This is called as a default factory ???

In [646]:
dct : defaultdict[str, str] = defaultdict(lambda : "not-defined")

In [647]:
dct["A"] = "a"
dct["B"] = "b" 
dct["C"] = "c"

In [648]:
dct

defaultdict(<function __main__.<lambda>()>, {'A': 'a', 'B': 'b', 'C': 'c'})

In [649]:
dct["D"]

'not-defined'

In [650]:
dct

defaultdict(<function __main__.<lambda>()>,
            {'A': 'a', 'B': 'b', 'C': 'c', 'D': 'not-defined'})

Ordered Dict ( from python3.7 normal dictionaries are ordered)

ordered in the sense that the order in which the keys are entered in remembered by the data structure

In [651]:
from collections import OrderedDict

In [652]:
ord_dict : OrderedDict[str, int] = OrderedDict({"A" : 1, "B" : 2, "C" : 3, "D" : 4})

In [653]:
ord_dict

OrderedDict([('A', 1), ('B', 2), ('C', 3), ('D', 4)])

To pop the last key-value pair

In [654]:
ord_dict.popitem()

('D', 4)

In [655]:
ord_dict

OrderedDict([('A', 1), ('B', 2), ('C', 3)])

To pop the first key value pair

In [656]:
ord_dict.popitem(last=False)

('A', 1)

In [657]:
ord_dict

OrderedDict([('B', 2), ('C', 3)])

To move a key value pair to the end

In [658]:
ord_dict.move_to_end('B')

In [659]:
ord_dict

OrderedDict([('C', 3), ('B', 2)])

To move a key value pair to the front

In [660]:
ord_dict.move_to_end('B', last=True)

In [661]:
ord_dict

OrderedDict([('C', 3), ('B', 2)])

For two ordered dictionaries to be equal their key value pairs should be in the same order

In [662]:
ord1 = OrderedDict({"A" : 1, "B": 2})
ord2 = OrderedDict({"B": 2, "A" : 1})

print(ord1 == ord2)

False

order does not matter when ordered dictionary is compared with a normal dictionary

In [663]:
dct = {"A" : 1, "B": 2}
ord1 == dct

True

Heap

In [664]:
import heapq

min heap = both left and right child have a lower value than the parent

max heap = both left and right child have a higher value than the parent

for the element at index i its left child is at 2 * i + 1 position and right child is at 2 * i + 2 position  and its parent is at (i - 1) / 2 position

In [665]:
data = [1, 4, 2, 10, 3, 9, 6, 5]

In [666]:
heapq.heapify(data) #inplace

In [667]:
data

[1, 3, 2, 5, 4, 9, 6, 10]

to pop the head of heap and correct the structure such that it follows the heap rules

In [668]:
heapq.heappop(data)

1

In [669]:
data

[2, 3, 6, 5, 4, 9, 10]

to push a new element to the heap and correct the structure such that it follows the heap rules

In [670]:
heapq.heappush(data, 18)

In [671]:
data

[2, 3, 6, 5, 4, 9, 10, 18]

a hack to use heapq for max heaps is to negate all the elements before pushing and popping

In [672]:
data = [1, 4, 2, 10, 3, 9, 6, 5]
data = [-i for i in data]

In [673]:
heapq.heapify(data)

In [674]:
data

[-10, -5, -9, -4, -3, -2, -6, -1]

In [675]:
-1 * heapq.heappop(data)

10

In [676]:
heapq.heappush(data, -1 * 20)

In [677]:
data

[-20, -9, -6, -5, -3, -2, -1, -4]

Another Way to use max heap. The below methods are undocumented ???

In [678]:
data = [1, 4, 2, 10, 3, 9, 6, 5]

In [679]:
heapq._heapify_max(data)

In [680]:
data

[10, 5, 9, 4, 3, 2, 6, 1]

In [681]:
heapq._heappop_max(data)

10

In [682]:
l1 = [1, 2, 3, 4, 5]
l2 = [2 * i for i in l1]

merge two lists and then heapify

In [683]:
l3 = heapq.merge(l1, l2)

In [684]:
l3

In [685]:
list(l3)

[1, 2, 2, 3, 4, 4, 5, 6, 8, 10]

Deque

In [686]:
from collections import deque

In [687]:
dq = deque()

In [688]:
dq.append(1)
dq.append(2)
dq.append(3)

In [689]:
dq

deque([1, 2, 3])

In [690]:
dq.popleft() # get the first element of the deque

1

In [691]:
dq.pop() # pop the last element

3

In [692]:
dq

deque([2])

In [693]:
dq.appendleft(0) # add 0 to the left of the list

In [694]:
dq

deque([0, 2])

In [695]:
dq.insert(3, 2) # insert 2 at at index 3

In [696]:
dq

deque([0, 2, 2])

random module

In [697]:
import random

To randomly pick a element from a list

In [698]:
random.choice([1, 2, 3])

1

To pick a random integer between two integers

In [699]:
random.randint(1, 100)

39

In [700]:
random.randrange(1, 10)

4

file operations

In [701]:
# using context manager to deal with file ops is recommended
# "r" -> read only
# "w" -> write only
# "a" -> append
with open("trial.txt", "w") as file: # if trial.txt does not exsist a file with that name is created
    file.writelines([str(i) + "\n" for i in range(10)])

In [702]:
with open("trial.txt", "r") as file:
    data = file.readlines()

In [703]:
data

['0\n', '1\n', '2\n', '3\n', '4\n', '5\n', '6\n', '7\n', '8\n', '9\n']

In [704]:
with open("trial1.txt", "w") as file:
    file.write("hello")

In [705]:
with open("trial1.txt", "r") as file:
    data = file.read()

In [706]:
data

'hello'

In [707]:
# "w" overwrites the file while "a" adds data to the file 
with open("trial1.txt", "a") as file:
    file.write("world")

In [708]:
with open("trial1.txt", "r") as file:
    data = file.read()

In [709]:
data

'helloworld'

json module

In [710]:
import json

In [711]:
dct = {"A" : 1, "B" : 2, "C" : 3}

In [712]:
dct_json_string = json.dumps(dct) # dumps => dump to string ; dump => dump to file

In [713]:
dct_json_string

'{"A": 1, "B": 2, "C": 3}'

In [714]:
with open("trial.json", "w") as file:
    json.dump(dct, file)

In [715]:
with open("trial.json", "r") as file:
    data = json.load(file) # load => load from a file ;  loads => load from a json string

In [716]:
data

{'A': 1, 'B': 2, 'C': 3}

In [717]:
type(data)

dict

In [718]:
data1 = json.loads(dct_json_string)

In [719]:
data1

{'A': 1, 'B': 2, 'C': 3}

In [720]:
type(data1)

dict

csv module ; csv = comma seperated values

In [721]:
import csv

In [806]:
with open("trial.csv", "r") as file:
    data = csv.reader(file)

    print(data)

    for line in data:
        print(line)

<_csv.reader object at 0x7a0c3a472b90>
['firstname', 'lastname', 'age']
['A', 'B', '20']
['X', 'Y', '19']
['P', 'Q', '24']
['S', 'T', '23']

csv files can have delimiters other than ,

In [807]:
with open("trial.csv", "r") as file:
    data = csv.reader(file) 

    with open("trial1.csv", "w") as file1:
        csv_writer = csv.writer(file1, delimiter="-")

        for line in data:
            csv_writer.writerow(line)

Reading a csv file with different delimiters

In [809]:
with open("trial1.csv", "r") as file:
    data = csv.reader(file, delimiter="-")

    for line in data:
        print(line)

['firstname', 'lastname', 'age']
['A', 'B', '20']
['X', 'Y', '19']
['P', 'Q', '24']
['S', 'T', '23']

To read each row into a ordered dictionary where the key is column name (that columns value in the first row)

In [810]:
with open("trial.csv", "r") as file:
    data = csv.DictReader(file) 

    for line in data:
        print(line)

{'firstname': 'A', 'lastname': 'B', 'age': '20'}
{'firstname': 'X', 'lastname': 'Y', 'age': '19'}
{'firstname': 'P', 'lastname': 'Q', 'age': '24'}
{'firstname': 'S', 'lastname': 'T', 'age': '23'}

To write from a list of dictionaries to a csv file

In [815]:
with open("trial.csv", "r") as file:
    data = csv.DictReader(file)

    with open("trial1.csv", "w") as file1:
        #fieldnames should be same as dict keys
        csv_writer = csv.DictWriter(file1, fieldnames=["firstname", "lastname", "age"], delimiter="+")

        csv_writer.writeheader() # writes the field names as the first row
        for line in data:
            csv_writer.writerow(line)

os module

In [722]:
import os

In [723]:
os.getcwd()

'/home/project-un/Documents/Github/Python'

To create folders

In [724]:
os.makedirs(os.path.join(os.getcwd(), "trial_folder"))

A empty folder can be deleted using

In [725]:
os.rmdir("trial_folder")

To join a path

In [726]:
folder_path = os.path.join(os.getcwd(), "trial_folder")

In [727]:
os.makedirs(folder_path)

In [728]:
for i in range(1, 10):
    with open(os.path.join(folder_path, f"{i}.txt"), "w") as file:
        file.write((str(i) + "\n") * i)

shutil module

To delete a non empty folder

In [729]:
import shutil

In [730]:
shutil.rmtree(folder_path)

subprocess module = used to run bash commands

In [731]:
import subprocess

In [732]:
subprocess.run(["ls", "-al"], capture_output=True)

CompletedProcess(args=['ls', '-al'], returncode=0, stdout=b'total 320\ndrwxrwxr-x 8 project-un project-un   4096 Oct  1 13:35 .\ndrwxrwxr-x 7 project-un project-un   4096 Sep 30 21:11 ..\n-rw-rw-r-- 1 project-un project-un 166944 Oct  1 13:35 BasicPython.ipynb\n-rw-rw-r-- 1 project-un project-un   1664 Sep 30 12:17 DSA.ipynb\ndrwxrwxr-x 4 project-un project-un   4096 Oct  1 11:08 fastapi\ndrwxrwxr-x 7 project-un project-un   4096 Sep 29 18:44 .git\n-rw-rw-r-- 1 project-un project-un     36 Oct  1 10:53 .gitignore\ndrwxrwxr-x 2 project-un project-un   4096 Oct  1 10:49 gradio\ndrwxrwxr-x 2 project-un project-un   4096 Sep 30 12:14 .ipynb_checkpoints\n-rw-rw-r-- 1 project-un project-un   5077 Sep 30 11:17 Jax.ipynb\n-rw-rw-r-- 1 project-un project-un   3844 Sep 30 00:02 Leetcode.ipynb\n-rw-rw-r-- 1 project-un project-un  60888 Oct  1 10:52 Matplotlib.ipynb\n-rw-rw-r-- 1 project-un project-un   4426 Sep 30 00:06 Numpy.ipynb\n-rw-rw-r-- 1 project-un project-un   2887 Sep 30 12:12 Pandas.ipynb\n-rw-rw-r-- 1 project-un project-un  10893 Sep 30 12:11 PyTorch.ipynb\n-rw-rw-r-- 1 project-un project-un     86 Sep 29 18:14 README.md\n-rw-rw-r-- 1 project-un project-un   2469 Sep 30 12:14 Sklearn.ipynb\ndrwxrwxr-x 2 project-un project-un   4096 Sep 30 23:12 tinygrad\n-rw-rw-r-- 1 project-un project-un     10 Oct  1 13:35 trial1.txt\n-rw-rw-r-- 1 project-un project-un     24 Oct  1 13:35 trial.json\n-rw-rw-r-- 1 project-un project-un     20 Oct  1 13:35 trial.txt\ndrwxrwxr-x 7 project-un project-un   4096 Sep 29 19:04 .venv\n', stderr=b'')

generators

lazily evaluated objects

In [733]:
sq_gen = (i*i for i in range(10))

The next object can be obtained using next() function

In [734]:
for i in range(10):
    print(next(sq_gen))

0
1
4
9
16
25
36
49
64
81

In [735]:
cb_gen = ((i**3) for i in range(10))

if a generator is cast to list then all the objects are generated

In [736]:
list(cb_gen)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

yield keyword

In [40]:
from collections.abc import Iterable, Generator

In [41]:
def number_gen(max_num) -> Generator[str, None, None]:
    for i in range(max_num):
        yield f"num : {i}"

In [42]:
num_gen = number_gen(3)

In [43]:
for i in range(3):
    print(next(num_gen))

num : 0
num : 1
num : 2

Generator Inside A Generator

In [45]:
from typing import Any


def wrapper(g : Generator[str, None, None], max_num) -> Generator[Any, None, None]:
    yield "start"
    for i in g:
        yield i
    yield "end"

In [47]:
max_num = 4
w = wrapper(number_gen(max_num), max_num)
for i in range(max_num):
    print(next(w))

start
num : 0
num : 1
num : 2

the above thing can be done in a easier way using yield from keyword

In [48]:
from typing import Any

def wrapper(g : Generator[str, None, None], max_num) -> Generator[Any, None, None]:
    yield "start"
    yield from g
    yield "end"

max_num = 4
w = wrapper(number_gen(max_num), max_num)
for i in range(max_num):
    print(next(w))

start
num : 0
num : 1
num : 2

custom decorators

In [ ]:
from typing import Callable
from functools import wraps 
from time import perf_counter, sleep

def get_time(func : Callable) -> Callable:
    @wraps(func) # if a function(foo) has this custom decorator. the wraps decorator ensures that when foo.__name__ is accessed foo is returned and not wrapper 
    def wrapper(*args, **kwargs) -> None:
        start_time : float = perf_counter()
        func(*args, **kwargs)
        end_time : float = perf_counter()
        print(f"time taken by {func.__name__} is {end_time - start_time:.3f}s")
    return wrapper

In [38]:
@get_time
def sum(a : int, b : int) -> int:
    sleep(2.5)
    print(f"{a} + {b} = {a + b}")

In [39]:
sum(2, 3)

2 + 3 = 5
time taken by sum is 2.500s

custom decorators which take in arguments

casting between types in python

In [737]:
num = 1

In [738]:
type(num)

int

to convert num to float

In [739]:
f_num = float(num)

In [740]:
f_num

1.0

match expression

In [741]:
day = 1
match day: 
    case 1:
        print("monday")
    case 2:
        print("tuesday")
    case 3:
        print("wednesday")
    case 4:
        print("thursday")
    case 5:
        print("friday")
    case 6:
        print("saturday")
    case 7:
        print("sunday")

monday

In [742]:
match day:
    case 1 | 2 | 3 | 4 | 5:
        print("weekday")
    case 6 | 7:
        print("weekend")

weekday

anonymous functions in python (lambda)

In [743]:
double = lambda x : 2*x

In [744]:
double(2)

4

In [745]:
nums = [(1, 2), (6, 7), (10, 12), (0, 1), (3, 4), (4, 5)]

In [746]:
# to sort nums based on the second element of the list element 
nums.sort(key = lambda x : x[1])

In [747]:
nums

[(0, 1), (1, 2), (3, 4), (4, 5), (6, 7), (10, 12)]

In [748]:
nums.sort(key = lambda x : -x[1]) # in descending order

In [749]:
nums

[(10, 12), (6, 7), (4, 5), (3, 4), (1, 2), (0, 1)]

map, filter, reduce

In [750]:
list(map(lambda x : x ** 2, [1, 2, 3]))

[1, 4, 9]

In [751]:
list(filter(lambda x : x % 2 == 0, [i for i in range(10)]))

[0, 2, 4, 6, 8]

In [752]:
from functools import reduce

In [753]:
reduce(lambda x , acc : acc + x , [1, 2, 3, 4, 5])

15

iterators

datetime module

In [754]:
from datetime import datetime

In [755]:
datetime.now()

datetime.datetime(2025, 10, 1, 13, 35, 22, 778479)

In [756]:
str(datetime.now())

'2025-10-01 13:35:22.819871'

In [757]:
datetime.now().year

2025

In [758]:
datetime.now().month

10

In [759]:
datetime.now().day

1

In [760]:
datetime.now().time()

datetime.time(13, 35, 22, 975188)

In [761]:
datetime.now().time().microsecond

11939

In [762]:
datetime.now().time().second

23

In [763]:
datetime.now().time().minute

35

In [764]:
datetime.now().time().hour

13

In [765]:
from datetime import date

In [766]:
date.today()

datetime.date(2025, 10, 1)

In [767]:
str(date.today())

'2025-10-01'

In [768]:
date.today().year

2025

In [769]:
date.today().month

10

In [770]:
date.today().day

1

regex (https://www.python-engineer.com/posts/regular-expressions/)

In [2]:
import re

To search for a pattern in a string

In [3]:
tst_str = "1231abc1987498abc197490abc"
pattern = re.compile(r"abc")
matches = pattern.finditer(tst_str)
print(list(matches))

[<re.Match object; span=(4, 7), match='abc'>, <re.Match object; span=(14, 17), match='abc'>, <re.Match object; span=(23, 26), match='abc'>]

Another way to do the above thing

In [4]:
matches = re.finditer(r"abc", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(4, 7), match='abc'>
<re.Match object; span=(14, 17), match='abc'>
<re.Match object; span=(23, 26), match='abc'>

string which are defined like r"" are called raw string. things like \n, \t won't work in them

In [5]:
s = r"\tHello\nWorld"
print(s)

\tHello\nWorld

findall() = finds the patterns and returns the patterns

In [6]:
re.findall(r"abc", tst_str)

['abc', 'abc', 'abc']

match() = will return the first match and match only checks for the patten in the front part of the string

In [7]:
print(re.match(r"abc", "abc187489")) 
print(re.match(r"abc", "1874abc89"))

<re.Match object; span=(0, 3), match='abc'>
None

search() - finds the first matche and returns it

In [8]:
re.search(r"abc", tst_str)

In [9]:
matches = re.finditer(r"abc", tst_str)
for match in matches:
    print(f"span = {match.span()} ; start = {match.start()} ; end = {match.end()}")

span = (4, 7) ; start = 4 ; end = 7
span = (14, 17) ; start = 14 ; end = 17
span = (23, 26) ; start = 23 ; end = 26

. = Any Character 
^ = starts with
$ = ends with 
* = zero or more 
+ = one or more 
{} = exactly the specified number of occurences 
[] = a set of characters
\ = special sequence (or escape characters like \n \t)
| = either or 
() = capture and group

everyting gets mathced ..

In [10]:
matches = re.finditer(".", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='1'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='3'>
<re.Match object; span=(3, 4), match='1'>
<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='b'>
<re.Match object; span=(6, 7), match='c'>
<re.Match object; span=(7, 8), match='1'>
<re.Match object; span=(8, 9), match='9'>
<re.Match object; span=(9, 10), match='8'>
<re.Match object; span=(10, 11), match='7'>
<re.Match object; span=(11, 12), match='4'>
<re.Match object; span=(12, 13), match='9'>
<re.Match object; span=(13, 14), match='8'>
<re.Match object; span=(14, 15), match='a'>
<re.Match object; span=(15, 16), match='b'>
<re.Match object; span=(16, 17), match='c'>
<re.Match object; span=(17, 18), match='1'>
<re.Match object; span=(18, 19), match='9'>
<re.Match object; span=(19, 20), match='7'>
<re.Match object; span=(20, 21), match='4'>
<re.Match object; span=(21, 22), match='9'>
<re.Match object; span=(22, 23), match='0'>
<re.Match object; span=(23, 24), match='a'>
<re.Match object; span=(24, 25), match='b'>
<re.Match object; span=(25, 26), match='c'>

In [11]:
tst_str = '1231abc1987498abc197490abc.'

to search for the dot we have to user the escape character \

In [12]:
matches = re.finditer(r"\.", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(26, 27), match='.'>

starts with 123

In [13]:
matches = re.finditer(r"^123", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 3), match='123'>

ends with abc.

In [14]:
matches = re.finditer(r"abc.$", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(23, 27), match='abc.'>

\d = matches any digit(0-9)
\D = matches any non digit 
\s = matches any whitespace 
\S = matches any non whitespace
\w = matches any alphanumeric 
\W = matches any non alphanumeric
\b = matches when specified characters are at the beginning and the end of the word 
\B = matches when specified characters are present but not at the beginning or the end of the word

match any digit

In [15]:
matches = re.finditer(r"\d", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='1'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='3'>
<re.Match object; span=(3, 4), match='1'>
<re.Match object; span=(7, 8), match='1'>
<re.Match object; span=(8, 9), match='9'>
<re.Match object; span=(9, 10), match='8'>
<re.Match object; span=(10, 11), match='7'>
<re.Match object; span=(11, 12), match='4'>
<re.Match object; span=(12, 13), match='9'>
<re.Match object; span=(13, 14), match='8'>
<re.Match object; span=(17, 18), match='1'>
<re.Match object; span=(18, 19), match='9'>
<re.Match object; span=(19, 20), match='7'>
<re.Match object; span=(20, 21), match='4'>
<re.Match object; span=(21, 22), match='9'>
<re.Match object; span=(22, 23), match='0'>

match any non digit

In [16]:
matches = re.finditer(r"\D", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='b'>
<re.Match object; span=(6, 7), match='c'>
<re.Match object; span=(14, 15), match='a'>
<re.Match object; span=(15, 16), match='b'>
<re.Match object; span=(16, 17), match='c'>
<re.Match object; span=(23, 24), match='a'>
<re.Match object; span=(24, 25), match='b'>
<re.Match object; span=(25, 26), match='c'>
<re.Match object; span=(26, 27), match='.'>

match any whitespace

In [17]:
matches = re.finditer(r"\s", tst_str)
for match in matches:
    print(match)

match any non whitespace

In [18]:
matches = re.finditer(r"\S", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='1'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='3'>
<re.Match object; span=(3, 4), match='1'>
<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='b'>
<re.Match object; span=(6, 7), match='c'>
<re.Match object; span=(7, 8), match='1'>
<re.Match object; span=(8, 9), match='9'>
<re.Match object; span=(9, 10), match='8'>
<re.Match object; span=(10, 11), match='7'>
<re.Match object; span=(11, 12), match='4'>
<re.Match object; span=(12, 13), match='9'>
<re.Match object; span=(13, 14), match='8'>
<re.Match object; span=(14, 15), match='a'>
<re.Match object; span=(15, 16), match='b'>
<re.Match object; span=(16, 17), match='c'>
<re.Match object; span=(17, 18), match='1'>
<re.Match object; span=(18, 19), match='9'>
<re.Match object; span=(19, 20), match='7'>
<re.Match object; span=(20, 21), match='4'>
<re.Match object; span=(21, 22), match='9'>
<re.Match object; span=(22, 23), match='0'>
<re.Match object; span=(23, 24), match='a'>
<re.Match object; span=(24, 25), match='b'>
<re.Match object; span=(25, 26), match='c'>
<re.Match object; span=(26, 27), match='.'>

match any alphanumeric

In [19]:
matches = re.finditer(r"\w", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='1'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='3'>
<re.Match object; span=(3, 4), match='1'>
<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='b'>
<re.Match object; span=(6, 7), match='c'>
<re.Match object; span=(7, 8), match='1'>
<re.Match object; span=(8, 9), match='9'>
<re.Match object; span=(9, 10), match='8'>
<re.Match object; span=(10, 11), match='7'>
<re.Match object; span=(11, 12), match='4'>
<re.Match object; span=(12, 13), match='9'>
<re.Match object; span=(13, 14), match='8'>
<re.Match object; span=(14, 15), match='a'>
<re.Match object; span=(15, 16), match='b'>
<re.Match object; span=(16, 17), match='c'>
<re.Match object; span=(17, 18), match='1'>
<re.Match object; span=(18, 19), match='9'>
<re.Match object; span=(19, 20), match='7'>
<re.Match object; span=(20, 21), match='4'>
<re.Match object; span=(21, 22), match='9'>
<re.Match object; span=(22, 23), match='0'>
<re.Match object; span=(23, 24), match='a'>
<re.Match object; span=(24, 25), match='b'>
<re.Match object; span=(25, 26), match='c'>

match any non alphanumeric

In [20]:
matches = re.finditer(r"\W", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(26, 27), match='.'>

check if some specified characters are at beginning of the block or at the end

begining of block = begining of word

In [21]:
tst_str = "hello 13212 hihello 1421 hey hello"

In [22]:
matches = re.finditer(r"\bhello", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 5), match='hello'>
<re.Match object; span=(29, 34), match='hello'>

check if specified characters are in the string but not at the begining of a block

In [23]:
matches = re.finditer(r"\Bhello", tst_str)
for match in matches:
    print(match)

<re.Match object; span=(14, 19), match='hello'>

To search for more than one character

In [27]:
matches = re.finditer(r'[ho]', tst_str) # all instances of a and b are returned
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='h'>
<re.Match object; span=(4, 5), match='o'>
<re.Match object; span=(12, 13), match='h'>
<re.Match object; span=(14, 15), match='h'>
<re.Match object; span=(18, 19), match='o'>
<re.Match object; span=(25, 26), match='h'>
<re.Match object; span=(29, 30), match='h'>
<re.Match object; span=(33, 34), match='o'>

To search for a range of digits or alphabets

In [28]:
matches = re.finditer(r'[1-9]', tst_str)
for match in matches:
    print(match)

<re.Match object; span=(6, 7), match='1'>
<re.Match object; span=(7, 8), match='3'>
<re.Match object; span=(8, 9), match='2'>
<re.Match object; span=(9, 10), match='1'>
<re.Match object; span=(10, 11), match='2'>
<re.Match object; span=(20, 21), match='1'>
<re.Match object; span=(21, 22), match='4'>
<re.Match object; span=(22, 23), match='2'>
<re.Match object; span=(23, 24), match='1'>

In [35]:
tst_str += "qkndkj dcqnkjcn BJHBXWHJBHJ dGYGShjhdjbw 12763318378"

To get all lower case letters

In [36]:
matches = re.finditer(r'[a-z]', tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='h'>
<re.Match object; span=(1, 2), match='e'>
<re.Match object; span=(2, 3), match='l'>
<re.Match object; span=(3, 4), match='l'>
<re.Match object; span=(4, 5), match='o'>
<re.Match object; span=(12, 13), match='h'>
<re.Match object; span=(13, 14), match='i'>
<re.Match object; span=(14, 15), match='h'>
<re.Match object; span=(15, 16), match='e'>
<re.Match object; span=(16, 17), match='l'>
<re.Match object; span=(17, 18), match='l'>
<re.Match object; span=(18, 19), match='o'>
<re.Match object; span=(25, 26), match='h'>
<re.Match object; span=(26, 27), match='e'>
<re.Match object; span=(27, 28), match='y'>
<re.Match object; span=(29, 30), match='h'>
<re.Match object; span=(30, 31), match='e'>
<re.Match object; span=(31, 32), match='l'>
<re.Match object; span=(32, 33), match='l'>
<re.Match object; span=(33, 34), match='o'>
<re.Match object; span=(35, 36), match='q'>
<re.Match object; span=(36, 37), match='k'>
<re.Match object; span=(37, 38), match='n'>
<re.Match object; span=(38, 39), match='d'>
<re.Match object; span=(39, 40), match='k'>
<re.Match object; span=(40, 41), match='j'>
<re.Match object; span=(42, 43), match='d'>
<re.Match object; span=(43, 44), match='c'>
<re.Match object; span=(44, 45), match='q'>
<re.Match object; span=(45, 46), match='n'>
<re.Match object; span=(46, 47), match='k'>
<re.Match object; span=(47, 48), match='j'>
<re.Match object; span=(48, 49), match='c'>
<re.Match object; span=(49, 50), match='n'>
<re.Match object; span=(63, 64), match='d'>
<re.Match object; span=(68, 69), match='h'>
<re.Match object; span=(69, 70), match='j'>
<re.Match object; span=(70, 71), match='h'>
<re.Match object; span=(71, 72), match='d'>
<re.Match object; span=(72, 73), match='j'>
<re.Match object; span=(73, 74), match='b'>
<re.Match object; span=(74, 75), match='w'>

To get all the upper case letters

In [38]:
matches = re.finditer(r'[A-Z]', tst_str)
for match in matches:
    print(match)

<re.Match object; span=(51, 52), match='B'>
<re.Match object; span=(52, 53), match='J'>
<re.Match object; span=(53, 54), match='H'>
<re.Match object; span=(54, 55), match='B'>
<re.Match object; span=(55, 56), match='X'>
<re.Match object; span=(56, 57), match='W'>
<re.Match object; span=(57, 58), match='H'>
<re.Match object; span=(58, 59), match='J'>
<re.Match object; span=(59, 60), match='B'>
<re.Match object; span=(60, 61), match='H'>
<re.Match object; span=(61, 62), match='J'>
<re.Match object; span=(64, 65), match='G'>
<re.Match object; span=(65, 66), match='Y'>
<re.Match object; span=(66, 67), match='G'>
<re.Match object; span=(67, 68), match='S'>

* = 0 or more
+ = 1 or more
? = 0 or 1
{n} = exact n 
{x, y} = range numbers (min, max)

find all the digits and return all of them as one unit

In [39]:
matches = re.finditer(r'\d*', tst_str)
for match in matches:
    print(match)

<re.Match object; span=(0, 0), match=''>
<re.Match object; span=(1, 1), match=''>
<re.Match object; span=(2, 2), match=''>
<re.Match object; span=(3, 3), match=''>
<re.Match object; span=(4, 4), match=''>
<re.Match object; span=(5, 5), match=''>
<re.Match object; span=(6, 11), match='13212'>
<re.Match object; span=(11, 11), match=''>
<re.Match object; span=(12, 12), match=''>
<re.Match object; span=(13, 13), match=''>
<re.Match object; span=(14, 14), match=''>
<re.Match object; span=(15, 15), match=''>
<re.Match object; span=(16, 16), match=''>
<re.Match object; span=(17, 17), match=''>
<re.Match object; span=(18, 18), match=''>
<re.Match object; span=(19, 19), match=''>
<re.Match object; span=(20, 24), match='1421'>
<re.Match object; span=(24, 24), match=''>
<re.Match object; span=(25, 25), match=''>
<re.Match object; span=(26, 26), match=''>
<re.Match object; span=(27, 27), match=''>
<re.Match object; span=(28, 28), match=''>
<re.Match object; span=(29, 29), match=''>
<re.Match object; span=(30, 30), match=''>
<re.Match object; span=(31, 31), match=''>
<re.Match object; span=(32, 32), match=''>
<re.Match object; span=(33, 33), match=''>
<re.Match object; span=(34, 34), match=''>
<re.Match object; span=(35, 35), match=''>
<re.Match object; span=(36, 36), match=''>
<re.Match object; span=(37, 37), match=''>
<re.Match object; span=(38, 38), match=''>
<re.Match object; span=(39, 39), match=''>
<re.Match object; span=(40, 40), match=''>
<re.Match object; span=(41, 41), match=''>
<re.Match object; span=(42, 42), match=''>
<re.Match object; span=(43, 43), match=''>
<re.Match object; span=(44, 44), match=''>
<re.Match object; span=(45, 45), match=''>
<re.Match object; span=(46, 46), match=''>
<re.Match object; span=(47, 47), match=''>
<re.Match object; span=(48, 48), match=''>
<re.Match object; span=(49, 49), match=''>
<re.Match object; span=(50, 50), match=''>
<re.Match object; span=(51, 51), match=''>
<re.Match object; span=(52, 52), match=''>
<re.Match object; span=(53, 53), match=''>
<re.Match object; span=(54, 54), match=''>
<re.Match object; span=(55, 55), match=''>
<re.Match object; span=(56, 56), match=''>
<re.Match object; span=(57, 57), match=''>
<re.Match object; span=(58, 58), match=''>
<re.Match object; span=(59, 59), match=''>
<re.Match object; span=(60, 60), match=''>
<re.Match object; span=(61, 61), match=''>
<re.Match object; span=(62, 62), match=''>
<re.Match object; span=(63, 63), match=''>
<re.Match object; span=(64, 64), match=''>
<re.Match object; span=(65, 65), match=''>
<re.Match object; span=(66, 66), match=''>
<re.Match object; span=(67, 67), match=''>
<re.Match object; span=(68, 68), match=''>
<re.Match object; span=(69, 69), match=''>
<re.Match object; span=(70, 70), match=''>
<re.Match object; span=(71, 71), match=''>
<re.Match object; span=(72, 72), match=''>
<re.Match object; span=(73, 73), match=''>
<re.Match object; span=(74, 74), match=''>
<re.Match object; span=(75, 75), match=''>
<re.Match object; span=(76, 87), match='12763318378'>
<re.Match object; span=(87, 87), match=''>

* means 0 or more so the above output if a particular substring doesn't match it will return a empty string.
To get only the numbers use  + as it will only return if atleast one digit is found

In [41]:
matches = re.finditer(r'\d+', tst_str)
for match in matches:
    print(match)

<re.Match object; span=(6, 11), match='13212'>
<re.Match object; span=(20, 24), match='1421'>
<re.Match object; span=(76, 87), match='12763318378'>

In [42]:
tst_str_1 = "hello_123"

if we want to find a substring with the pattern _(digit) then

In [43]:
matches = re.finditer(r'_\d', tst_str_1)
for match in matches:
    print(match)

<re.Match object; span=(5, 7), match='_1'>

to find a digit or _(digit) then

In [44]:
matches = re.finditer(r'_?\d', tst_str_1)
for match in matches:
    print(match)

<re.Match object; span=(5, 7), match='_1'>
<re.Match object; span=(7, 8), match='2'>
<re.Match object; span=(8, 9), match='3'>

To extract all the dates in the format YYYY(any char)MM(any char)DD

In [45]:
dates = '''
2020.04.01

2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11

2020/04/02

2020_04_04
2020_04_04
'''
matches = re.finditer(r'\d\d\d\d.\d\d.\d\d', dates)
for match in matches:
    print(match)

<re.Match object; span=(1, 11), match='2020.04.01'>
<re.Match object; span=(13, 23), match='2020-04-01'>
<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>
<re.Match object; span=(46, 56), match='2020-07-11'>
<re.Match object; span=(57, 67), match='2020-08-11'>
<re.Match object; span=(69, 79), match='2020/04/02'>
<re.Match object; span=(81, 91), match='2020_04_04'>
<re.Match object; span=(92, 102), match='2020_04_04'>

dates only in the format of YYYY-MM-DD

In [46]:
matches = re.finditer(r'\d\d\d\d-\d\d-\d\d', dates)
for match in matches:
    print(match)

<re.Match object; span=(13, 23), match='2020-04-01'>
<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>
<re.Match object; span=(46, 56), match='2020-07-11'>
<re.Match object; span=(57, 67), match='2020-08-11'>

dates only in the format of YYYY(- or /)MM(- or /)DD

In [47]:
matches = re.finditer(r'\d\d\d\d[-/]\d\d[-/]\d\d', dates)
for match in matches:
    print(match)

<re.Match object; span=(13, 23), match='2020-04-01'>
<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>
<re.Match object; span=(46, 56), match='2020-07-11'>
<re.Match object; span=(57, 67), match='2020-08-11'>
<re.Match object; span=(69, 79), match='2020/04/02'>

dates only in the months of may or june

In [48]:
matches = re.finditer(r'\d\d\d\d[-/]0[56][-/]\d\d', dates)
for match in matches:
    print(match)

<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>

for may, june and july

In [50]:
matches = re.finditer(r'\d\d\d\d[-/]0[5-7][-/]\d\d', dates)
for match in matches:
    print(match)

<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>
<re.Match object; span=(46, 56), match='2020-07-11'>

The above code block can be written as

In [52]:
matches = re.finditer(r'\d{4}[-/]0[5-7][-/]\d{2}', dates)
for match in matches:
    print(match)

<re.Match object; span=(24, 34), match='2020-05-23'>
<re.Match object; span=(35, 45), match='2020-06-11'>
<re.Match object; span=(46, 56), match='2020-07-11'>

extracting only names from the below string

In [61]:
my_string = """
hello
2020-04-01
2020-05-23
2020-06-11
2020-07-11
Mr Simpson
Mrs Simpson
Mr. Brown
Ms Smith
Mr. T
"""
matches = re.finditer(r'M(r|s|rs)\.?\s\w+', my_string)
for match in matches:
    print(match)

<re.Match object; span=(51, 61), match='Mr Simpson'>
<re.Match object; span=(62, 73), match='Mrs Simpson'>
<re.Match object; span=(74, 83), match='Mr. Brown'>
<re.Match object; span=(84, 92), match='Ms Smith'>
<re.Match object; span=(93, 98), match='Mr. T'>

extract only valid emails

In [ ]:
my_string = """
hello
2020-04-01
2020-05-23
2020-06-11
2020-07-11
Mr Simpson
Mrs Simpson
Mr. Brown
Ms Smith
Mr. T
pythonengineer@gmail.com
Python-engineer@gmx.de
python-engineer123@my-domain.org
"""
matches = re.finditer(r'[a-zA-z0-9-]+@[a-zA-z-]+\.\w+', my_string)
for match in matches:
    print(match)

<re.Match object; span=(99, 123), match='pythonengineer@gmail.com'>
<re.Match object; span=(124, 146), match='Python-engineer@gmx.de'>
<re.Match object; span=(147, 179), match='python-engineer123@my-domain.org'>

parts of the matched strings can be grouped using ()

In [69]:
matches = re.finditer(r'([a-zA-z0-9-]+)@([a-zA-z-]+)\.(\w+)', my_string)
for match in matches:
    print("-----------------------")
    print(match.group(0))
    print(match.group(1))
    print(match.group(2))
    print(match.group(2))
    print("-----------------------")

-----------------------
pythonengineer@gmail.com
pythonengineer
gmail
gmail
-----------------------
-----------------------
Python-engineer@gmx.de
Python-engineer
gmx
gmx
-----------------------
-----------------------
python-engineer123@my-domain.org
python-engineer123
my-domain
my-domain
-----------------------

split at a regex

In [71]:
pattern = re.compile(r'\d{3}')
my_str = "jcnwjkncj123jdiwn566ij223kjdnjn"
splitted= pattern.split(my_str)
print(splitted)

['jcnwjkncj', 'jdiwn', 'ij', 'kjdnjn']

Find and Replace using regex

In [74]:
pattern = re.compile(r'\d{3}')
new_my_str = pattern.sub("ABC", my_str)
print(new_my_str)

jcnwjkncjABCjdiwnABCijABCkjdnjn

In [76]:
urls = """
http://python-engineer.com
https://www.python-engineer.org
http://www.pyeng.net
"""
matches1 = re.finditer(r"http(s)?://(www.)?[a-zA-Z0-9-]+\.\w+", urls)
for match in matches1:
    print(match)

<re.Match object; span=(1, 27), match='http://python-engineer.com'>
<re.Match object; span=(28, 59), match='https://www.python-engineer.org'>
<re.Match object; span=(60, 80), match='http://www.pyeng.net'>

In [ ]:
pattern = re.compile(r"(https?://)(www.)?([a-zA-Z0-9-]+)\.(\w+)")
subbed_urls = pattern.sub(r'\2\3', urls) # only take the second and third groups. groups are 1-indexed ??? 
print(subbed_urls)

python-engineer
www.python-engineer
www.pyeng

Compilation Flags : 
ASCII, A : Makes several escapes like \w, \b, \s and \d match only on ASCII characters with the respective property.
DOTALL, S : Make . match any character, including newlines.
IGNORECASE, I : Do case-insensitive matches.
LOCALE, L : Do a locale-aware match.
MULTILINE, M : Multi-line matching, affecting ^ and $.
VERBOSE, X (for extended) : Enable verbose REs, which can be organized more cleanly and understandably.

In [ ]:
my_str_2 = "Hello, World"
matches = re.finditer(r'world', my_str_2, re.IGNORECASE) # ignores case
for match in matches:
    print(match)

<re.Match object; span=(7, 12), match='World'>

Exception Handling

In [772]:
try:
    num = 1 / 0
except Exception as e:
    print(e)
finally:
    print("will be executed no matter what")

division by zero
will be executed no matter what

In [1]:
num_f = "ten"
try:
    num_f = float(num_f)
except ValueError as e:
    print(f"Value-Error : {e}")
except TypeError as e:
    print(f"TypeError = {e}")

Value-Error : could not convert string to float: 'ten'

In [2]:
num_f = None
try:
    num_f = float(num_f)
except ValueError as e:
    print(f"Value-Error : {e}")
except TypeError as e:
    print(f"TypeError = {e}")

TypeError = float() argument must be a string or a real number, not 'NoneType'

Catching multiple specific exceptions in one line

In [3]:
num_f = None
try:
    num_f = float(num_f)
except (ValueError, TypeError) as e:
    print(f"Exception Occured = {e}")

Exception Occured = float() argument must be a string or a real number, not 'NoneType'

User Input

In [773]:
user_input = input("enter someting...")
print(user_input)

hello

Custom Context Managers

Statistics module

In [774]:
import statistics

In [775]:
avg = statistics.mean([i for i in range(10)])

In [776]:
avg

4.5

In [777]:
mdn = statistics.median([i for i in range(10)])

In [778]:
mdn

4.5

In [779]:
mode = statistics.mode([1, 2, 2, 3, 3, 3])

In [780]:
mode

3

dataclass = normal class but this will automatically produce some special dunder methods like __init__() and __repr__()

In [781]:
from dataclasses import dataclass

@dataclass
class Person:
    name : str
    age  : int

In [782]:
p = Person("a", 23)

In [783]:
p

Person(name='a', age=23)

In [784]:
p1 = Person("a", 23)

In [785]:
p == p1

True

To know all the functions that dataclass has defined :

In [786]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 3,
              '__annotations__': {'name': str, 'age': int},
              '__static_attributes__': (),
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': 'Person(name: str, age: int)',
              '__dataclass_params__': _DataclassParams(init=True,repr=True,eq=True,order=False,unsafe_hash=False,frozen=False,match_args=True,kw_only=False,slots=False,weakref_slot=False),
              '__dataclass_fields__': {'name': Field(name='name',type=<class 'str'>,default=<dataclasses._MISSING_TYPE object at 0x7a0c643a9160>,default_factory=<dataclasses._MISSING_TYPE object at 0x7a0c643a9160>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD),
               'age': Field(name='age',type=<class 'int'>,default=<dataclasses._MISSING_TYPE object at 0x7a0c643a9160>,default_factory=<dataclasses._MISSING_TYPE object at 0x7a0c643a9160>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD)},
              '__replace__': <function dataclasses._replace(self, /, **changes)>,
              '__hash__': None,
              '__init__': <function __main__.Person.__init__(self, name: str, age: int) -> None>,
              '__repr__': <function __main__.Person.__repr__(self)>,
              '__eq__': <function __main__.Person.__eq__(self, other)>,
              '__match_args__': ('name', 'age')})

In [787]:
dir(Person)

['__annotations__',
 '__class__',
 '__dataclass_fields__',
 '__dataclass_params__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__match_args__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__replace__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [788]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name: str, age: int) -> None
 |
 |  Person(name: str, age: int)
 |
 |  Methods defined here:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __init__(self, name: str, age: int) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __replace__ = _replace(self, /, **changes) from dataclasses
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'age': <class 'int'>, 'name': <class 'str'>}
 |
 |  __dataclass_fields__ = {'age': Field(name='age',type=<class 'int'>,def...
 |
 |  __dataclass_params__ = _DataclassParams(init=True,repr=True,eq=True,or...
 |
 |  __hash__ = None
 |
 |  __match_args__ = ('name', 'age')

lrucache and cache decorators

Memoization is an optimization technique that stores the results of expensive function calls and returns the cached result when the same inputs occur again. Both decorators implement memoization to speed up function execution.

Use Case: When you have a function that:

(1) Is called repeatedly with the same arguments
(2) Has expensive computations or I/O operations
(3) Is a pure function (same inputs always produce same outputs)
(4) Has no side effects

In [789]:
from functools import lru_cache

In [790]:
@lru_cache(maxsize = 128, typed=True) # max_size defines the max number of entries that can be cached(it should preferably be a power of 2)
def factorial(n):
    if n == 0:
        return 1 
    else:
        return n * factorial(n - 1)

In [791]:
factorial(5)

120

In [792]:
factorial(10)

3628800

In [793]:
factorial.cache_info()

CacheInfo(hits=1, misses=11, maxsize=128, currsize=11)

In [794]:
factorial.cache_parameters()

{'maxsize': 128, 'typed': True}

In [795]:
factorial.cache_clear()

In [796]:
from functools import cache

cache is same as lru_cahe(maxsize=None) i.e. the maxsize is unlimited

In [797]:
@cache
def fact(n):
    if n == 0:
        return 1
    return n * fact(n - 1)

In [798]:
fact(5)

120

In [799]:
fact(10)

3628800

In [800]:
fact.cache_info()

CacheInfo(hits=1, misses=11, maxsize=None, currsize=11)

In [801]:
fact.cache_parameters()

{'maxsize': None, 'typed': False}

In [802]:
fact.cache_clear()

Finite, small input space?  Use @cache
Need size limit?  Use @lru_cache(maxsize=N)
Need type-specific caching?  Use @lru_cache(typed=True)
Default case?  Use @lru_cache (default maxsize=128)

functools module = The functools module is for higher-order functions: functions that act on or return other functions.

Iterator ??? "type" keyword